<h1>{{title}}</h1>

<!-- Button to View All Employees -->
<a href="/employees"><button>See All Employees</button></a>
<a href="/updateEmployee/"><button>Update</button></a>
<a href="/deleteEmployee/"><button>Delete</button></a>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Department</th>
      <th>Start Date</th>
      <th>Job Title</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
        </form>  
    </tr>
  </tbody>
</table>